<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title>Health & Food Tips</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" slot="fixed">
  <ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="iostitlesize">
        <div class="ion-text-wrap">Health & Food Tips</div>
      </ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content [fullscreen]="true" slot="fixed">

  <ion-card-content>
    <div class="slideshow">
      <img src="assets/icon/t1.jpg">
      <img src="assets/icon/t2.jpg">
      <img src="assets/icon/t3.jpg">
      <img src="assets/icon/t4.jpg">
      <img src="assets/icon/t5.jpg">
      <img src="assets/icon/t6.jpg">
    </div>
  </ion-card-content>

  <div>
    <p class="quote"><b>"Each new day is a new opportunity to improve yourself. TAKE IT and make the most of it."</b></p>
  </div>


</ion-content>



