ion-content {
    position: relative;
  }

.veg {
    --background: url('/assets/icon/taco.jpg') 0 0/100% 100% no-repeat;
    height: 250px;
    margin-top: 20px;
  }  
  
  .fbpsize {
    font-size: 28px;
    margin-bottom: -15px;
    text-align: center;
    color: rgb(255, 0, 0);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  .veg1 {
    --background: url('/assets/icon/shang.jpg') 0 0/100% 100% no-repeat;
    height: 250px;
    margin-top: 20px;
  }  
  
  .fbpsize1 {
    bottom: 10px;
    font-size: 28px;
    margin-bottom: -15px;
    text-align: center;
    color: rgb(255, 0, 0);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }

  .ftfy {
    text-align: center;
    text-decoration-line: underline;
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }