<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/foodtab"></ion-back-button>
    </ion-buttons>
    <ion-title>Non-Vegetarian</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <div class="ftfy">
    <h1><b>Balanced Meals You may Like</b></h1>
    </div>
  
<p class="fbpsize"><b>Crock Pot Chicken Taco Meat</b><br></p>
<ion-card  button [routerLink]="['/tabtaco']" class="veg">
</ion-card>

<p class="fbpsize1"><b>Shanghai<br> Noodles</b><br></p>
<ion-card  button [routerLink]="['/tabshang']" class="veg1">
</ion-card>

</ion-content>
