
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Create Post</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content >

  <div class="textareapadding">
    <ion-label position="stacked" color="light"><b>TITLE</b></ion-label>
    <ion-input required type="text" [(ngModel)]="wallpost.title"></ion-input><br>
    <ion-label position="stacked" color="light"><b>COMMENT</b></ion-label>
    <textarea  [(ngModel)]="wallpost.comment"></textarea><br><br>
    <ion-label color="light" position="stacked"><b>USER</b></ion-label>
    <ion-input placeholder="(Optional)" [(ngModel)]="wallpost.guestUser" ></ion-input>
  </div>
<div class="divbtn">

</div>
  <ion-button class="btnfloatright" (click)="savePost()" size="small" color="success"><b>POST</b></ion-button>
</ion-content> 