textarea {
    resize: none;
    width: 100%;
    height: 100px;
}

.textareapadding{
    padding: 1em;
}

.btnfloatright {
    float: right;
    padding-right: 1em;
}

ion-input{
    border: solid 1px rgb(0, 0, 0);
    --background:#fff;
 }

 ion-content {
    --background: url('/assets/icon/dumbell.jpg') no-repeat center/cover fixed;
  }