<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true " slot="fixed">

  <ion-card class="abt">
    <ion-card-content>
      <p class="ion-text-center">The purpose of a fitness app is to provide the user with instructions and examples of one or more exercise, physical activity nutritional programs, or some other fitness apps are available to download from the internet</p>
    </ion-card-content>
  </ion-card>

  <h3 class="contactus"><b>CONTACT US!</b></h3><br><br><br><br>

  <div class="divcenter">
    <div class="div1">
      <div class="avatar">
        <img class="pic" src="assets/abt1.jpg" alt="">
      </div>
      <div class="pbtm">
        <h3 class="name"> Maezie Casabal </h3>
        <h4 class="eaddress"> mazie.casabal@g.batstate-u.edu.ph </h4>
        <h4 class="course"> BS Information Technology
          <ion-chip>
            <ion-label> BA </ion-label>
          </ion-chip>
        </h4>
      </div>
    </div>
  </div><br><br><br><br><br><br><br>

  <div class="divcenter">
    <div class="div1">
      <div class="avatar">
        <img class="pic" src="assets/abt2.jpg" alt="">
      </div>
      <div class="pbtm">
        <h3 class="name"> Johnrey Manalo </h3>
        <h4 class="eaddress"> johnrey.manalo@g.batstate-u.edu.ph </h4>
        <h4 class="course"> BS Information Technology
          <ion-chip>
            <ion-label> BA </ion-label>
          </ion-chip>
        </h4>
      </div>
    </div>
  </div><br><br><br><br><br><br><br>
  
  <div class="divcenter">
    <div class="div1">
      <div class="avatar">
        <img class="pic" src="assets/abt3.jpg" alt="">
      </div>
      <div class="pbtm">
        <h3 class="name"> Lee-Ann Joy Natanauan </h3>
        <h4 class="eaddress"> lee-annjoy.natanauan@g.batstate-u.edu.ph </h4>
        <h4 class="course"> BS Information Technology
          <ion-chip>
            <ion-label> BA </ion-label>
          </ion-chip>
        </h4>
      </div>
    </div>
  </div><br><br><br><br><br><br><br>

  <div class="divcenter">
    <div class="div1">
      <div class="avatar">
        <img class="pic" src="assets/abt4.jpeg" alt="">
      </div>
      <div class="pbtm">
        <h3 class="name"> Decierlyn Pereda </h3>
        <h4 class="eaddress">  decierlyn.pereda@g.batstate-u.edu.ph </h4>
        <h4 class="course"> BS Information Technology
          <ion-chip>
            <ion-label> BA </ion-label>
          </ion-chip>
        </h4>
      </div>
    </div>
  </div><br><br><br><br><br><br><br>

  <div class="divcenter">
    <div class="div1">
      <div class="avatar">
        <img class="pic" src="assets/abt5.jpg" alt="">
      </div>
      <div class="pbtm">
        <h3 class="name"> Mariestella Suarez </h3>
        <h4 class="eaddress"> mariestella.suarez@g.batstate-u.edu.ph </h4>
        <h4 class="course"> BS Information Technology
          <ion-chip>
            <ion-label> BA </ion-label>
          </ion-chip>
        </h4>
      </div>
    </div>
  </div><br><br>
</ion-content>