<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/health"></ion-back-button>
    </ion-buttons>
    <ion-title>Vegetarian</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 
  <div class="ftfy">
    <h1><b>Vegetable Food You May Like</b></h1>
  </div>
<p class="fbpsize"><b>Asian Pomegranate Salad</b><br></p>
<ion-card  button [routerLink]="['/tabsalad']" class="veg">
</ion-card>

<p class="fbpsize1"><b>Appel Salade - Apple Salad</b><br></p>
<ion-card  button [routerLink]="['/tabapple']" class="veg1">
</ion-card>

</ion-content>
