<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab2a"></ion-back-button>
    </ion-buttons>
    <ion-title>Shanghai Noodles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <img src="assets/icon/shang.jpg" class="apl">
    <h1 class="aps">Shanghai Noodles</h1>
  </div>
    
  

  <ion-card>
    <ion-card-content>
      <p class="ir">Ingredients Required</p>
      <ion-item>
        <div>
          <ion-icon name="add-circle-outline"></ion-icon>
        </div>
       3 tablespoons oil
      </ion-item>
      <ion-item>
        <div>
          <ion-icon name="add-circle-outline"></ion-icon>
        </div>
        1-2 sesame oil
      </ion-item>
      <ion-item>
        <div>
          <ion-icon name="add-circle-outline"></ion-icon>
        </div>
        2 cups shredded cabbage
      </ion-item>
      <ion-item>
        <div>
          <ion-icon name="add-circle-outline"></ion-icon>
        </div>
       1/2 cup chopped green onion
      </ion-item> 
      <ion-item>
        <div>
          <ion-icon name="add-circle-outline"></ion-icon>
        </div>
       8 ounces angel hair pasta
      </ion-item>
      <ion-item>
        <div>
          <ion-icon name="add-circle-outline"></ion-icon>
        </div>
       2-4 tablespoonssoy sauce
      </ion-item>
      <ion-item>
        <div>
          <ion-icon name="add-circle-outline"></ion-icon>
        </div>
       4 ounces sliced cooked chicken breasts
      </ion-item>
      <ion-item>
        <div>
          <ion-icon name="add-circle-outline"></ion-icon>
        </div>
       2 can bean sprouts, drained
      </ion-item> 
    </ion-card-content>

  </ion-card>

  <ion-card>
    <ion-card-content>
      <p class="ir">Directions to Prepare</p>
      <ion-item >
        <div>
          <ion-icon name="add-circle-outline"></ion-icon>
        </div>
        Cook pasta according to package directions.
      </ion-item>
      <ion-item>
        <div>
          <ion-icon name="add-circle-outline"></ion-icon>
        </div>
        Heat oil and sesame oil in skillet.
      </ion-item>
      <ion-item>
        <div>
          <ion-icon name="add-circle-outline"></ion-icon>
        </div>
        Saute cabbage and green onion for about 5 minutes.
      </ion-item>
      <ion-item>
        <div>
          <ion-icon name="add-circle-outline"></ion-icon>
        </div>
        Add pasta & soy sauce and heat through.
      </ion-item>
      
    </ion-card-content>
  </ion-card>
 

</ion-content>