<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/foodtab"></ion-back-button>
    </ion-buttons>
    <ion-title>Appel Salade - Apple Salad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <img src="assets/icon/apple.jpg" class="apl">
    <h1 class="aps">Appel Salade - Apple Salad</h1>
  </div>
    
  

  <ion-card>
    <ion-card-content>
      <p class="ir">Ingredients Required</p>
      <ion-item>
        <div>
          <ion-icon name="add-circle-outline" size="medium"></ion-icon>
        </div>
        4 apples, cubed and seeded (use a good flavored apple)
      </ion-item>
      <ion-item>
        <div>
          <ion-icon name="add-circle-outline" size="medium"></ion-icon>
        </div>
        1 small sweet onion, minced (1015 or Vidalia)
      </ion-item>
      <ion-item>
        <div>
          <ion-icon name="add-circle-outline" size="medium"></ion-icon>
        </div>
        4 tablespoons salad iol
      </ion-item>
      <ion-item>
        <div>
          <ion-icon name="add-circle-outline" size="medium"></ion-icon>
        </div>
        4 tablespoons vinegar
      </ion-item>
      <ion-item>
        <div>
          <ion-icon name="add-circle-outline" size="medium"></ion-icon>
        </div>
        salt
      </ion-item>
      <ion-item>
        <div>
          <ion-icon name="add-circle-outline" size="medium"></ion-icon>
        </div>
        1 head lettuce (leaf lettuce or mesclun)
      </ion-item>
      
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p class="ir">Directions to Prepare</p>
      <ion-item >
        <div>
          <ion-icon name="add-circle-outline" size="medium"></ion-icon>
        </div>
        Combing apples and onion; moisten with oil and vinegar.
      </ion-item>
      <ion-item>
        <div>
          <ion-icon name="add-circle-outline" size="medium"></ion-icon>
        </div>
        Season with salt.
      </ion-item>
      <ion-item>
        <div>
          <ion-icon name="add-circle-outline" size="medium"></ion-icon>
        </div>
        Arrang lettuce attractively on chilled salad plates and top w/ apple mixture.
      </ion-item>
      
      
    </ion-card-content>
  </ion-card>
 

</ion-content>