.aps {
    text-align: center;
}

.mps {
    padding-left: 30px;
}

.ir {
    color: red;
    font-size: 30px;
}

.apl {
    position: relative;
    width: 415px;
    height: 275px;
}


ion-icon {
    font-size: 30px !important;
    color: rgb(20, 173, 79) ;
}

