<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
    <ion-title>Exercises</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title class="iostitlesize">Exercises</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-card class="fb" button [routerLink]="['/fullbody']">
      <ion-card-content>
        <p class="fbpsize">FULL BODY<br></p>
      </ion-card-content>
    </ion-card>

      <ion-card class="ub" button [routerLink]="['/upper']">
        <ion-card-content>
          <p class="fbpsize">UPPER BODY<br></p>
        </ion-card-content>
      </ion-card>

      <ion-card class="lb" button [routerLink]="['/lower']">
        <ion-card-content>
          <p class="fbpsize">LOWER BODY<br></p>
        </ion-card-content>
      </ion-card>
  </div>
</ion-content>
