textarea {
    resize: none;
    width: 100%;
    height: 75px;
}

.paddding{
    padding: 1em;
}

.btnfloatright {
    float: right;
    padding-right: 1em;
}

ion-input{
    border: solid 1px rgb(0, 0, 0);
 }

 .divcol {
     color: white;
 }

 .txtar {
     border: 1px solid black;
     background-color: white;
     
 }

 ion-card-content {
    font-size: 20px;
    color: black;
}

ion-card {
    min-height: 100px;
    height: auto;
}

ion-content {
    --background: url('/assets/icon/Dumbell2.png')  0 0/100% 100% no-repeat;
  }
