<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{wallpost.title}}</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <div class="paddding">
   
    <b><textarea disabled class="txtar">{{wallpost.comment}}</textarea></b>
    <br>
    <ion-label position="stacked" color="light"><b>Posted By: {{wallpost.guestUser}}</b></ion-label>
    <ion-button class="btnfloatright" (click)="onButtonClick()" size="small">Comment</ion-button>
    <div *ngIf="buttonClicked">
      <textarea [(ngModel)]="commentpost.comment" id="txtareaclear"></textarea>
      <ion-button class="btnfloatright" size="small" (click)="saveComment()">Post</ion-button>
      
    </div>
    <div *ngIf="buttonClicked2">
      <ion-input [(ngModel)]="commentpost.Cid" [hidden]="True"></ion-input>
    </div>
  </div><br>

  <div *ngFor="let item of commentpostarr">
    <div *ngIf="(item.Cid==commentpost.Cid)">
      <ion-card>
        <ion-card-content>
            {{item.comment}}
            <ion-label>
              <p>{{ item.createdAt | date:'short' }}</p>
            </ion-label>
        </ion-card-content>
      </ion-card>
    </div>
  </div>




</ion-content> 