<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
    <ion-title>{{exerName}} Details</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <img class="imgg" src="assets/icon/{{exerImgName}}.gif" alt="Burpees">
{{exerDetails}}<br><br>
{{exerDetails2}}
</ion-content>
