ion-menu-button {
    color: var(--ion-color-primary);
  }

ion-content {
  position: relative;
}

ion-tab-button {
  background-color: #ffff; 
}


.icc {
  background-color: rgb(214, 214, 214);
  color: rgb(0, 0, 0) ;
}

.hnf4 {
  height: 105vw;
  width: 140vw;
  margin-top: -10px;
  margin-bottom: -15px;
}

.ion-text-center {
  text-align: justify;
  font-size: 20px;
}


  
  
