ion-menu-button {
  color: var(--ion-color-primary);
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.fake-skeleton{
  width: 60%;
}

ion-card {
  width: 90%;
  display:block;
  margin: 10px auto;
}

ion-item{
  --ion-background-color:rgb(211, 211, 211);
}

ion-card-title {
  font-size: 20px;
  float: left;
  margin-left: -15px;
  color: black;
}

ion-card-subtitle{
  font-size: 25px;
  color: black;
  margin-left: -15px;
}

ion-content {
  --background: url('/assets/icon/bg1.jpg') 0 0/100% 100% no-repeat;
  
}

h1.coll{
  color: black;
  text-align: center;
}

